@{
    ViewData["Title"] = "Cart";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>


<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Size
            </th>
            <th>
                Price
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>