@model IEnumerable<databseApp.Models.UserViewModel>

	@{
    ViewData["Title"] = "Create";
	}

<section class="loginform cf">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
	<ul>
		<li>
			<label for="usermail">Email</label>
			<input type="email" name="usermail" placeholder="yourname@email.com" required>
		</li>
		<li>
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="password" required>
			
			<br /><br />
			<select>
				<option value="" style="display:none">Choose an account</option>
				<option value="1">Customer</option>
				<option value="2">Employee</option>
			</select>
			<br/>
			<input type="submit" value="Next">
	</ul>
</form>
</section>
